* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body css */
.font-family {
    font-family: 'Poppins', sans-serif;
}
/* header css */
header {
    background-color: #ecf0f3;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    margin-bottom: 1px;
}
.navbar {
    width: 79%;
    max-width: 1140px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.icon {
    font-size: 45px;
    font-weight: 700;
    color: #1b1b1b;
}
.morsalin {
    color: #86abdf;
}
.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}
.menu ul li a {
    text-decoration: none;
    color: #1b1b1b;
    font-weight: 500;
    font-size: 16px;
}
.menu ul li a:hover {
    color: #7297cb;
    transition: 0.5s;
}
.btn2 {
    background-color: #ecf0f3;
    border: 1px  solid #86abdf;
    padding: 12px 22px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #86abdf;
}
.btn2:hover {
    background-color: #86abdf;
    color: #fff;
    transition: 0.5s;
}
.btn {
    padding: 10px 20px;
    background-color: #86abdf;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #86abdf;
}
.btn:hover {
    background-color: #ecf0f3;
    color: #86abdf;
    transition: 0.5s;
}
.btn span {
     font-size: 16px;
}
.btn-flex {
    display: flex;
    gap: 20px;
}
/* hero section css */
.hero-section {
    background: url(./images/wmremove-transformed-removebg-preview.png) , #ecf0f3;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0 30px 160px;
}
.hero-content {
    max-width: 570px;
}
.hero-content h2 {
    font-size: 30px;
    font-weight: 600;
}
.hero-content h1 {
    font-size: 65px;
    font-weight: 800;
    margin-bottom: 12px;
}
.hero-content p {
    font-size: 16px;
    color: #555;
    margin-bottom: 25px;
}
.hero-img {
    max-width: 800px;
}
.hero-img img {
    max-width: 585px;
    height: auto;
    vertical-align: middle;
}